.header{
  position: relative;
  font-size: 20px;
  color: gray;
  margin: 15px 0px 0px 30px;
}

.logo{
  width: 150px;
}

a{
  font-size: 18px;
}

.tab1{
  position: absolute;
  top:50%;
  right: 370px;
}

.tab2{
  position: absolute;
  top:50%;
  right: 300px;
}

.tab3{
  position: absolute;
  top:50%;
  right: 220px;
}

.tab4{
  position: absolute;
  top:50%;
  right: 170px;
}

.tab5{
  position: absolute;
  top:50%;
  right: 70px;
}

.top{
  width: 100%;
  height: 760px;
  position: relative;
}

.topimg{
  position: absolute;
  top: 10%;
  width: 60%;
  right:0%;
}

.topspan{
  color:Aquamarine;
}


.title{
  position: absolute;
  top:25%;
  left:17%;
  color: MediumVioletRed;
  font-size: 60px;
  font-family: 'Gorditas', cursive;
}

.subtitle{
  position: absolute;
  top:50%;
  left:17%;
  color: MediumVioletRed;
  font-size: 24px;
  font-weight: bold;
}

.commpany{
  position: absolute;
  top: 55%;
  left:17%;
  font-size: 16px;
}

.whatsnew{
  width: 50%;
  height: 500px;
  position: relative;
  left: 25%;
  
}

.tag{
  position: absolute;
  color: MediumVioletRed;
  font-size: 12px;
  font-family: 'Gorditas', cursive;
  top:0%;
  left:0%;

}

.newstitle{
  position: absolute;
  font-size: 32px;
  color:gray;
  top:5%;
  left:0%;
}

.linetop{
  border:none;
  border-bottom: 3px solid rgb(197, 197, 197);
  margin-top: 10px;
  margin-bottom: 30px;
}

.news{
  position: relative;
  font-size: 14px;
  color: gray;
  top:15%;
  left:0%;
  border-bottom: 1px solid rgb(197, 197, 197);
  padding-bottom: 10px;
  padding-top: 15px;
}

.newsbtn{
  position: relative;
  width:200px;
  padding: 0px 20px;
  background: MediumVioletRed;
  color: white;
  line-height: 24px;
  font-size: 14px;
  border-radius: 10px;
  top:50%;
  left:2%;
}

.linebottom{
  border:none;
  border-bottom: 3px solid rgb(197, 197, 197);
  margin-top: 100px;
}

.aboutus{
  position: relative;
  width: 100%;
  height: 450px;
  background-color: rgb(241, 239, 239);
}

.abt{
   position: absolute;
    top: 5%;
    left: 49%;
    transform: translate(-50%, -50%);
    margin: 20px auto;
}

.abttitle{
   position: absolute;
   font-size: 26px;
   color: rgb(134, 134, 134);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 40px auto;
}

.abttext{
  position: absolute;
  color: rgb(99, 98, 98);
  top:35%;
  left: 15%;
  line-height: 24px;
}

.abtimg{
  position: absolute;
  width: 30%;
  top: 35%;
  right: 13%;
  
}

.service{
  position: relative;
  width: 70%;
  height: 550px;
  left: 15%;
  
}

.svtag{
  position: absolute;
  top: 10%;
  left: 0%;
}

.svtitle{
  position: absolute;
  top: 15%;
  left: 0%;
  font-size: 24px;
  color: rgb(99, 98, 98);
}


.grid{
  position: absolute;
  display: grid;
  width:900px;
  grid-template-rows: 75px 75px 75px 75px;
  grid-template-columns: 1fr 1fr;
  top: 30%;
  left:0%;
  color: white;
}

.box1{
  grid-column: 1/2;
  grid-row: 1/5;
  background: MediumVioletRed;
  text-align: center;
}

.box2{
  grid-column: 2/3;
  grid-row: 1/3;
  background: rgb(238, 168, 223);
}

.box3{
  grid-column: 2/3;
  grid-row: 3/5;
  background: rgb(248, 202, 242);
}

.svimg{
  width:30%;
  margin:10px 10px;
}

.svimg2{
  width:30%;
  margin:10px 10px;
  float: left;
}

h3{
  margin-bottom: 20px;
}

.blog{
  width: 100%;
  height: 600px;
  position: relative;
  background-color: rgb(241, 239, 239);
}

.flex{
  position: absolute;
  top: 5%;
  left: 13%;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.blotag{
  position: absolute;
  top: 10%;
  left: 15%;
}

.blotitle{
  position: absolute;
  top: 15%;
  left: 15%;
  font-size: 24px;
  color: rgb(99, 98, 98);
}

.blobox{
  width: 300px;
  margin: 120px auto;
  border-radius: 20px;
  background-color: white;
  position: relative;
}

.bloimg{
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.chip{
  color: white;
  background-color: mediumvioletred;
  padding:10px 20px;
  border-radius: 20px 0 0 0;
  position: absolute;
  top: 0%;
  left: 0%;
}

.blotext{
  text-align: left;
  margin: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: rgb(99, 98, 98);
}

.date{
  display: inline-block;
  font-size: 14px;
  margin: 0 30px 0 30px;
  color:rgb(99, 98, 98);
}

.co{
  display: inline-block;
  font-size: 14px;
  color:rgb(99, 98, 98);
  margin-left: 20px;
}

.btnlst{
  position: absolute;
  top: 80%;
  left: 45%;
  margin: 30px auto;
  border: 2px solid  mediumvioletred;
  background-color: white;
  border-radius: 30px;
  line-height: 20px;
  padding:20px 50px;
  color: mediumvioletred;
}

.company{
  width: 100%;
  height: 600px;
  left: 15%;
  position: relative;
}

.comtag{
  position: absolute;
  top: 10%;
  left: 15%;
}

.comtitle{
  position: absolute;
  top: 15%;
  left: 15%;
  font-size: 24px;
  color: rgb(99, 98, 98);
}

.comtable{
  position: absolute;
  top: 25%;
  left: 15%;
  font-size: 18px;
  color: rgb(99, 98, 98);
}

table, td, th{
    border: 1px solid rgb(221, 221, 221);
}

tr td:nth-of-type(1) {
  width: 200px;
  font-weight: bold;
  background: rgb(241, 239, 239);
  padding: 20px 10px;
}

tr td:nth-of-type(2) {
  width: 400px;
  padding: 20px 20px;
}

.banner{
  width: 100%;
  height: 300px;
  position: relative;
}

.recimg{
  width: 50%;
  position: absolute;
  left: 0%;
}
.rectext{
  font-size: 28px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 40%;
  left: 20%;
}

.intimg{
  width: 50%;
  position: absolute;
  right: 0%;
}

.inttext{
  font-size: 28px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 40%;
  right: 15%;
}

.contactform{
  width: 100%;
  height: 700px;
}

.context{
  margin: 50px 20px 20px 450px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(99, 98, 98);

}

.v_line_fix{
  margin: 10px 100px 20px 680px;
  width: 2px;
  height: 40px;
  background-color: mediumvioletred;
}

.conbtn{
  width: 400px;
  position: relative;
  margin: 100px 20px 20px 530px;
  background-color: mediumvioletred;
  border-radius: 40px;
  line-height: 20px;
  padding:30px 100px;
  color: white;
  box-shadow: 0 10px 0 rgb(143, 7, 93);
}

.conbtn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(0, -50%);;
}

small{
  text-align: center;
  display: block;
}

